.bg-container {
    background-image: url("https://assets.ccbp.in/frontend/responsive-website/landing-section-bg.png");
    background-size: cover;
    height: 100vh;
}


.heading1 {
    font-family: "roboto";
    font-size: 36px;
    font-weight: bold;
    color: white;
}

.para1 {
    font-family: "roboto";
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.butt1 {
    font-family: "roboto";
    font-size: 16px;
    font-weight: bold;
    color: #0C0521;
    background-color: #FFDDA9;
    border-radius: 25px;
    height: 60px;
    width: 120px;
}

.sponni {
    font-family: "roboto";
    font-size: 30px;
    font-weight: bold;
    color: #FFDDA9;


}

.icon-color {
    background-color: white;
}



.nav-bg {
    background-color: #0C0521;
}